@model List<YoutubeDownloader.Core.DownloadTask>
<h1>
    Download List
</h1>
<hr />
<script>
    window.setTimeout(function () {
        window.location.reload();
    }, 1000)
</script>
@for (int i = Model.Count - 1; i >= 0; i--)
{
    <a>@(Model[i].Title ?? "Starting...")</a>
    <br />
    <a>@Model[i].Url</a>
    <br />
    <a>@Model[i].DownloadTime.AddHours(8).ToString("yyyy/MM/dd HH:mm")</a>
    <br />
    <a>Video(@Model[i].VideoQualityLable):@((Model[i].VideoProgress * 100).ToString("f2"))%</a>
    @if (Model[i].VideoProgress >= 1.0)
    {
        <a href="~/@Model[i].VideoPath" download> 下载</a>
    }
    <br />
    <a>Audio(@Model[i].AudioBitrateLable):@((Model[i].AudioProgress * 100).ToString("f2"))%</a>
    @if (Model[i].AudioProgress >= 1.0)
    {
        <a href="~/@Model[i].AudioPath" download> 下载</a>
    }
    <br />
    <hr />
}